<!-- EXISTING DATES POPULATE-->
	<div class="container dates-populate-container col-xs-6">
		<h2>EDIT/DELETE DATES</h2>

			<div class="container dates-container" id="dates-courses" ng-repeat="x in courses">
				<div>{{x.start}}</div>
				<div>{{x.end}}</div>
				<div>{{x.details}}</div>
					<button type="button" class="btn btn-default" ng-click="delCourseFunc(x._id)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="submit" class="btn btn-default" ng-click="unavailableFunc()">unavailable</button>
			</div>
	
	</div>
<!-- END EXISTING DATES -->

<!--ADD DATES-->
<div class="container form-container col-xs-6">
	<h2>DATES EDITOR</h2>
	<div class="form-group">
		<label for="start-date">start date</label>
		<input type="text" class="form-control" ng-model="newCourse.start" placeholder="type start date">
	</div>

	<div class="form-group">
		<label for="end-date">end date</label>
		<input type="text" class="form-control" ng-model="newCourse.end" placeholder="type end date">
	</div>

	<div class="form-group">
		<label for="details">details</label>
		<input type="text" class="form-control" ng-model="newCourse.details" placeholder="type details">
	</div>

	<!-- SAVE BUTTON -->

	<button type="submit" class="btn btn-default" ng-click="saveCourseFunc()">save</button>

	<!-- BUTTON END -->

<!--ADD DATES END -->

</div>

<script type="text/javascript">
	
$('#example').popover('show');


</script>





