<h1>WELCOME TO THE LOYOLA CODING<br>PROGRAM ADMINISTRATION PAGE</h1>

<h5> MANAGE PROFILES AND DATES FOR THE CODING CERTIFICATE WEBPAGE.</h5>

<ul class="list-group col-xs-8" >
<h5> PROFILES: ADD / EDIT / DELETE</h5>
  <li class="list-group-item">ADD PROFILE: fill in profile-form and save.</li>
  <li class="list-group-item">NOTE: you can only add URL's for pictures.</li>
  <li class="list-group-item">EDIT PROFILE, click on the pencil icon <span class="glyphicon glyphicon-pencil"></span> Edit within pop-up form and save.</li>
  <li class="list-group-item">DELETE PROFILE: click on the trash bin icon <span class="glyphicon glyphicon-trash"></span></li>
</ul>

<ul class="list-group col-xs-8" >
<h5> DATES: ADD / UPDATE / DELETE</h5>
  <li class="list-group-item">ADD DATES: fill in dates-form and save.</li>
  <li class="list-group-item">UPDATE DATES: click on eye icon <span class="glyphicon glyphicon-eye-open"></span> to change date status</li>
  <li class="list-group-item">NOTE: date status will change application forms from available to unavailable and vice versa</li>
  <li class="list-group-item">DELETE: click on the trash bin icon <span class="glyphicon glyphicon-trash"></span></li>
</ul>