<!-- EXISTING STORIES POPULATE-->
	<div class="container populate-container col-xs-6">
		<h2>EDIT/DELETE EXISTING STORIES</h2>

			<div class="container profile-container" id="profile-story" ng-repeat="x in stories">
				<div>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-user">{{x.picture}}</span>
					</button>
				</div>

				<div>{{x.name}}</div>
				<div>{{x.description}}</div>
				<div>
					<button type="button" class="btn btn-default" ng-click="deleteProfileFunc(x._id)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-erase"></span>
					</button>
				</div>
			</div>

	</div>
<!-- END EXISTING STORIES -->


<!--STORIES ADD FORM -->
	<div class="container form-container col-xs-6">
		<h2>ADD A STORY</h2>

		<div class="form-group flexContainer" id="picture-group">
			<!-- <label for="picture">picture</label> -->
			<input type="text" class="form-control inputField" ng-model="newStory.picture" placeholder="add profile picture: enter url or insert file">
				<button type="button picture-btn" class="btn btn-default">
					<span class="glyphicon glyphicon-picture"></span>
				</button>
		</div>

		<div class="form-group" id="name-group">
			<label for="name">name</label>
			<input type="text" class="form-control" ng-model="newStory.name" placeholder="type name">
		</div>

		<div class="form-group" id="description-group">
			<label for="description">description</label>
			<input type="text" class="form-control" ng-model="newStory.description" placeholder="add description">
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-default" ng-click="saveProfileFunc()">save</button>
		</div>

	</div>
<!--END ADD FORM -->
