body { padding-top:80px; }

/* INDEX NAVBAR */
.navbar{
		background-color: #620003;
		color: #fff;
		width: 100%;
		padding: 15px 0;

}

.navbar-nav{
	float: right;
}


.mainTitle {
	color: #fff;
}

/* HOME PAGE / ADMINISTRATION */

h1 {
	font-weight: 100;
}

/* END HOME PAGE */

/* STORIES PAGE */

	/* PROFILES */

	#profile-story {
		display: block;
		margin-bottom: 40px;
	}

	.glyphicon-user {
		width: 100px;
		height: 100px;
	}

	.user-picture {
		background-image: url('');
		width: 100px;
		height: 100px;
	}

/*	.profile-story {
		width: 304px;
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
	}*/

	/* END PROFILES */

	/* ADD PROFILE SECTION */

	.flexContainer {
		display: flex;
	}

	.inputField {
		flex: 2;
	}


/* END STORIES */

/* DATES PAGE */

	/* DATES DISPLAY */

	.dates-container {
		display: block;
		margin-bottom: 40px;
	}





